body {
    background-color: #00BFFF;
    font-weight: bold;
  }
w3-bar{
    text-align: center;
}

.Slides{
    text-align:center;
    width: 30%;
    border: 3px solid;
}

.mySlides{
    width:100%;
    border: 3px solid;
}
.w3-container w3-center